[Unit]
Description=Chrip App
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/chrip_backend
Environment=FLASK_DEBUG=0
Environment=FLASK_HOST=0.0.0.0
Environment=FLASK_PORT=5000
Environment=CORS_ENABLED=True
Environment=AWS_ACCESS_KEY_ID=AKIAVFLG6XOB4EOLYIOU
Environment=AWS_SECRET_ACCESS_KEY=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
Environment=AWS_DEFAULT_REGION=eu-north-1
Environment=JWT_SECRET_KEY=mT6aVImMn_aoYzKg_XUw8NydzNbu_fRVkWJ7-GnQtyU=
Environment=JWT_TOKEN_HOURS=24
Environment=LOG_LEVEL=DEBUG
Environment=LOG_FILE=app.log
Environment=API_PREFIX=/api/v1
Environment=MAX_UPLOAD_SIZE=16M
Environment=UPLOAD_FOLDER=./uploads
Environment=USERS_TABLE_NAME='chrip_users'
Environment=COMMENTS_TABLE_NAME='chrip_comments'
Environment=FORUMS_TABLE_NAME='chrip_forums'
Environment=GROUPS_TABLE_NAME='chrip_groups'
Environment=POLLS_TABLE_NAME='chrip_polls'
Environment=S3_BUCKET_NAME='chripmedia'
ExecStart=/home/ubuntu/chrip_backend/venv/bin/python /home/ubuntu/chrip_backend/run.py
Restart=always

[Install]
WantedBy=multi-user.target
