[Unit]
Description=Chrip App
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/chrip_backend
ExecStart=/home/ubuntu/chrip_backend/venv/bin/python /home/ubuntu/chrip_backend/run.py
Restart=always

[Install]
WantedBy=multi-user.target
